.bundle {
  --green: #9BDB22;
  --black: #0F0F0F;
  --grey: #454545;
  --white: #F7F6F2;
}

.preview-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 32px 0;
}

.preview-product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
}

.sale-tag {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 22px);
  min-width: max-content;
  height: 17px;
  padding: 0 4px;
  background: var(--black);
  color: var(--white);
  font-size: 8px;
  line-height: 1;
  font-weight: 700;
  text-decoration: line-through;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.preview-product-wrapper:has(.active) .sale-tag {
  background: var(--green);
  color: var(--black);
}

.preview-product-wrapper p {
  font-size: 10.5px;
  line-height: 12.5px;
  color: var(--grey);
  margin: 0;
  text-align: center;
}

.preview-product {
  width: 100%;
  height: auto;
  aspect-ratio: 0.883;
  background-color: var(--green);
  border-radius: 8px;
  position: relative;
  padding: 4px;
}

.preview-product.active {
  box-shadow: inset 0 0 0 4px var(--black);
}

.preview-image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.preview-product svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-product img, .preview-product.active svg {
  opacity: 0;
}

.preview-product svg, .preview-product.active img {
  opacity: 1;
}

.preview-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.bundle-products-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
