.preview-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.preview-product {
  aspect-ratio: 0.883;
  background-color: #9BDB22;
  border-radius: 8px;
  position: relative;
  padding: 4px;
}

.preview-product.active {
  box-shadow: inset 0 0 0 4px black;
}

.preview-image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.preview-product svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-product img, .preview-product.active svg {
  opacity: 0;
}

.preview-product svg, .preview-product.active img {
  opacity: 1;
}

.preview-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
