.bundle-card {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 75px;
}

.bundle-image-wrapper {
  width: 75px;
  height: auto;
  position: relative;
  display: flex;
  align-self: stretch;
}

.bundle-image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bundle-product-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
